/* Allows service account api-manager to manage the minecraft service
 *
 */
polkit.addRule(function(action, subject) {
    polkit.log("action=" + action);
    polkit.log("subject=" + subject);
    polkit.log("action.id=" + action.id);
    polkit.log("ingroup=" + subject.isInGroup("api-manager"));
    polkit.log("unit=" +  action.lookup("unit"));
    if (action.id == "org.freedesktop.systemd1.manage-units" && subject.isInGroup("api-manager") && action.lookup("unit") == "docker.service") {
        if (subject.isInGroup("api-manager") && action.lookup("unit") == "docker.service") {
            var verb = action.lookup("verb");
            polkit.log("verb="+ verb)
            if (verb == "start" || verb == "stop" || verb == "restart") {
                polkit.log("works");
                return polkit.Result.YES;
            }
        }
    }
});